<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/a289e801ed.js" crossorigin="anonymous"></script>
    <link href="/css/productform.css" rel="stylesheet">
    <title>Grupo 3</title>
</head>


<body>
    <%- include('../partials/headeradmin'); -%>
    <main class="main">
        <section class="new-product">
            <h1 class="new-product__title">Agrega un producto nuevo</h1>     
            <% if (product) { %>
                <form class="new-product__form" action="http://localhost:3000/products/<%=product.id%>" method="POST" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="name">Nombre de producto: </label>
                        <input value=<%= product.name %> id="name" name="name" class="form-group__input" type="text">
                    </div>
    
                    <div class="form-group">
                        <label for="description">Descripción del producto: </label>
                        <input value=<%= product.description %> id="description" name="description" class="form-group__input" type="text">
                    </div>
    
                    <div class="form-group">
                        <label for="image">Imagen del producto: </label>
                        <img src=<%= product.image %> alt="">
                        <input value=<%= product.image %> id="image" name="image" class="form-group__file" required type="file">
                    </div>
    
                    <div class="form-group">
                        <label for="category">Categoría: </label>
                        <input value=<%= product.category %> id="category" name="category" class="form-group__input" type="text">
                    </div>
    
                    <div class="form-group">
                        <label for="price">Precio: </label>
                        <input value=<%= product.price %> id="price" name="price" class="form-group__input" type="number">
                    </div>

                    <div class="form-group">
                        <label for="stock">Stock: </label>
                        <input id="stock" name="stock" class="form-group__input" type="number">
                    </div>

                    <button type="submit">
                        Actualizar producto
                    </button>
    
                </form>
            <% } else { %> 
                <form class="new-product__form" action="http://localhost:3000/products" method="POST" enctype="multipart/form-data">
                    
                    <% if (error) { %>
                    <div>
                        <span><%= error %></span>        
                    </div>
                    <% } %> 
                    
                    <div class="form-group">
                        <label for="name">Nombre de producto: </label>
                        <input id="name" name="name" class="form-group__input" type="text">
                    </div>
    
                    <div class="form-group">
                        <label for="description">Descripción del producto: </label>
                        <input id="description" name="description" class="form-group__input" type="text">
                    </div>
    
                    <div class="form-group">
                        <img src="">
                        <label for="image">Imagen del producto: </label>
                        <input type="file" id="image" name="image" class="form-group__file" required>
                    </div>
    
                    <div class="form-group">
                        <label for="category">Categoría: </label>
                        <select id="category" name="category" class="form-group__input">
                            <option value="">Espumante</option>
                            <option value="">Vino</option>
                            <option value="">Cerveza</option>
                        </select>    
                    </div>
    
                    <div class="form-group">
                        <label for="price">Precio: </label>
                        <input id="price" name="price" class="form-group__input" type="number">
                    </div>

                    <div class="form-group">
                        <label for="stock">Stock: </label>
                        <input id="stock" name="stock" class="form-group__input" type="number">
                    </div>

                    <button type="submit">
                        Agregar producto
                    </button>
                </form>
                <% } %> 
        </section>    
    </main>

    <script>
        // TODO:
    </script>
</body>

</html>